<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>伺服器守護神</title>
		<link href="css/custom.css" rel="stylesheet" type="text/css"/>
		<link href="css/default_skin.css" type="text/css" rel="stylesheet" />
		<link href="css/buttons.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1 class="text-primary-color title xingothic-tc-w8">伺服器守護神</h1>
		<div id="Main">
			<!-- Slider -->
			<div class="sixteen columns">
				<div class="project">
					<div class="sky-carousel">
						<div class="sky-carousel-wrapper">
							<ul class="sky-carousel-container">
								{{# protecter}}
								<li>
									<img src="images/{{picture}}" alt="" />
									<div class="sc-content">
										<h2>{{name}}</h2>
										<p>{{intro}}
											</br></br>
											{{#active}}
											（你己經放置了這位守護神！願衪保祐你的伺服器能夠順利運作，不發生任何意外。）
											</br></br>
											<a href="cancel.php?id={{id}}" class="button button-3d center">按此取消放置</a>
											{{/active}}
											{{^active}}
											</br>
											<a href="put.php?id={{id}}" class="button button-3d center">放置到伺服器上！</a>
										{{/active}}</p>
										{{/protecter}}
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br><br><br>
			<div id="Footer"><p>&copy; 2015 Mr.Twister<p></div>
		</body>
		<script src="//s3-ap-northeast-1.amazonaws.com/justfont-user-script/jf-34580.js"></script>
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="js/jquery.sky.carousel-1.0.min.js"></script>
		<script type="text/javascript">
			$(function() {
				$('.sky-carousel').carousel({
					itemWidth: 201,
					itemHeight: 351,
					distance: 20,
					selectedItemDistance: 35,
					selectedItemZoomFactor: 0.9,
					unselectedItemZoomFactor: 0.6,
					unselectedItemAlpha: 0.6,
					motionStartDistance: 140,
					topMargin: 30,
					gradientStartPoint: 0.36,
					gradientOverlayColor: "#f5f5f5",
					gradientOverlaySize: 190,
					selectByClick: true
				});
			});
		</script>
	</html>