<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>伺服器守護神－管理後台</title>
		<link href="css/23-dark-login-form/css/style.css" rel="stylesheet" type="text/css"/>
		<link href="css/custom.css" rel="stylesheet" type="text/css"/>
		<link href="css/buttons.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1 class="title xingothic-tc-w8">管理後台</h1>
		<div id="Main">
			<form method="POST" class="login">
				<p>
					<label for="login">用戶名稱：</label>
					<input type="text" name="username" id="login" class="text">
				</p>
				<p>
					<label for="password">用戶密碼：</label>
					<input type="password" name="password" id="password">
				</p>

				<br><br><br><br>
				<p class="center">
					<button type="submit" class="button">登入</button>
				</p>
			</form>
		</div>
		<br>
		<div id="Footer"><p>&copy; 2015 Mr.Twister<p></div>
	</body>
	<script src="//s3-ap-northeast-1.amazonaws.com/justfont-user-script/jf-34580.js"></script>
</html>